@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700');

html, body {
    height: 100%;
}

body {
    font-family: 'FiraGO', sans-serif;
    background-color: #F3F2FA;
}

.btn {
    line-height: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
}

.btn.btn-primary {
    background-color: #4721DD;
    border-color: #4721DD;
}

.form-control {
    border-radius: 12px;
    border-color: #E4E3EB;
    background-color: #FCFCFD;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 16px;
}

.form-control:focus {
    border-width: 1.5px;
    border-color: #5D37F3;
    outline: unset !important;
    box-shadow: unset;
}
.pb-65 {
    padding-bottom: 65px;
}
@media (min-width: 1400px) {
    .container {
        max-width: 1288px;
    }
}