@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700');

html, body {
    height: 100%;
}

body {
    font-family: 'FiraGO', sans-serif;
    background-color: #F3F2FA;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #5d37f3 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
    height: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #5d37f3;
    border-radius: 10px;
    border: 3px solid #ffffff;
    height: 10px;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #4b2aa3 ;
}
.btn {
    line-height: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
}

.btn.btn-primary {
    background-color: #5D37F3;
    border-color: #5D37F3;
}

.form-control {
    border-radius: 12px;
    border-color: #E4E3EB;
    background-color: #FCFCFD;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 16px;
}

.form-control:focus {
    border-width: 1.5px;
    border-color: #5D37F3;
    outline: unset !important;
    box-shadow: unset;
}
.pb-65 {
    padding-bottom: 65px;
}
.cursor-pointer {
    cursor: pointer;
}

.home__btn_arrow {
    width: 44px;
    height: 44px;
    background-color: #E4E3EB;
    z-index: 2;
    top: 120px;
    transition: .3s;

    &:hover {
        background-color: #D8D7DF;

        & svg path{
            fill: #fe3b1f !important;
        }
    }
}
input[type="date"] {
    position: relative;
    padding-left: 48px; /* Установка отступа слева для текста даты */
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 16px;
    top: 12px;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    background: url("@/assets/images/calendar.svg") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
/* Carousel styles */
.carousel__slide {
    display: block !important;
    width: 31.5% !important;
}
.carousel__track {
    gap: 32px;
}

.carousel__prev,
.carousel__next {
    width: 44px !important;
    height: 44px !important;
    fill: #fff;
    background-color: #5D37F3;
    border-radius: 50% !important;
}
.carousel__prev {
    margin: 0 24px 0 0;
    background-image: url("@/assets/images/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.carousel__next {
    margin: 0;
    background-image: url("@/assets/images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.carousel__prev--disabled,
.carousel__next--disabled {
    /*background-color: #E4E3EB !important;*/
    opacity: .2 !important;
}
.carousel__icon {
    display: none;
}

.slide__nav {
    position: relative;
    top: -733px;
    width: 112px;
    right: -1160px;
}
@media (min-width: 1400px) {
    .container {
        /*max-width: 1288px;*/
        max-width: 1300px;
    }
}